<div class="container">
	<% if flash[:notice] %>
		<div class="flash">
			<%= flash[:notice] %>
		</div>
	<% end %>
	<%= render 'users/user_new', user: @user, book: @book %>
	<%= render 'books/list', user: @user, books: @books %>
</div>
