<div class="container">
	<h2>Forgot your password?</h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	<%= devise_error_messages! %>

	<div class="field">
		<%= f.label :email %><br />
		<input autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" class="email">
	</div>

	<div class="actions">
		<input type="submit" name="commit" value="Send me reset password instructions" class="btn btn-danger" data-disable-with="Send me reset password instructions">
	</div>
	<a href="/users/sign_in" class="sign_in">Log in</a>
	<br>
	<a href="/users/sign_up" class="sign_up">Sign up</a>
</div>
<% end %>

