	<div class="col-xs-9">
    <h2>Books</h2>

    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <% books.each do |book| %>
      <% user.id = book.user_id %>
      <tbody>
        <tr>
          <td><%= attachment_image_tag user, :image, :fill, 40, 40, fallback: "no_image.jpg", class: "profile-thumb" %></td>
          <td> 
            <%= link_to book_path(book.id), class: "book_#{book.id}" do %>
          <%= book.title %>
          <% end %></td>
          <td><%= book.opinion %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>